{% load static %}

<nav class="navbar">
    <!-- Logo and Site name -->
    <div class="navbar-logo">
        <!-- Will add logo later -->
        <a href="{% url 'home' %}">BloggingApp</a>
    </div>

    <div class="navbar-link">
        <a href="#">
        {% if request.user.profile_picture %}
        <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.username }}"
            style="width: 40px; height: 40px; border-radius: 50%; aspect-ratio: 1;">
        {% else %}
        <img src="{% static 'images/avatar.svg' %}" alt="default avatar"
            style="width: 40px; height: 40px; border-radius: 50%; aspect-ratio: 1;">
        {% endif %}
        My Profile
        </a>

        {% if user.is_authenticated %}
        <a href="logout">Log Out</a>
        {% else %}
        <a href="login">Log In</a>
        <a href="signup">Sign Up</a>
        {% endif %}
    </div>
</nav>